In [1]:
import xarray as xr
import pandas as pd
import numpy as np

In [2]:
tas_1k = xr.open_dataset('tas_merged.nc')

In [4]:
df_tas = tas_1k[["tas"]].to_dataframe().reset_index()

In [7]:
df_tas.head()

      time        lat     lon         tas
0  20105.0  85.760587   0.000  232.523300
1  20105.0  85.760587   5.625  232.420792
2  20105.0  85.760587  11.250  232.227554
3  20105.0  85.760587  16.875  231.934937
4  20105.0  85.760587  22.500  231.570984